body {
    margin-top: 20px;
    background: #eee;
}

.box.box-aqua {
    border-top-color: #00c0ef !important;
}

.box.box-green {
    border-top-color: #00a65a !important;
}

.box.box-success {
    border-top-color: #3c8dbc;
}

.box {
    position: relative;
    border-radius: 5px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}

.box-header>.ion {
    margin-right: 5px;
}

.box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}

.box-header>.box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
}

.inline {
    display: inline;
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

.todo-list {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: auto;
}

.todo-list>li {
    border-radius: 2px;
    padding: 10px;
    background: #f4f4f4;
    margin-bottom: 2px;
    border-left: 2px solid #e6e7e8;
    color: #444;
}

.todo-list>li .label {
    /* margin-left: 10px; */
    font-size: 12px;
}

.todo-list>li .tools {
    float: right;
}

.todo-list>li:hover .tools {
    display: block;
}

.no-border {
    border: 0 !important;
}

.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;
}

.btn-default {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
}

.btn {
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
}

span.form-error {
    color: #ff0000;
}

.error {
    color: #ff0000;
}

div#datetimepicker1 {
    margin-right: 16px;
}

.view-all-div {
    padding-top: 25px;
}

button.btn.btn-success.pull-right {
    margin-right: 16px;
}